In [28]:
import pandas as pd
import json

In [29]:
with open("/content/data_film.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# ubah ke DataFrame
datafilm = pd.DataFrame(data)

In [30]:
print("Ukuran dataset:", datafilm.shape)
print("\nInfo dataset:")
print(datafilm.info())

Ukuran dataset: (56276, 9)

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56276 entries, 0 to 56275
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   judul       56276 non-null  object
 1   tags        51458 non-null  object
 2   deskripsi   49358 non-null  object
 3   sutradara   51340 non-null  object
 4   bintang     51277 non-null  object
 5   negara      28202 non-null  object
 6   durasi      56276 non-null  object
 7   rating      56276 non-null  float64
 8   rilis_date  56276 non-null  object
dtypes: float64(1), object(8)
memory usage: 3.9+ MB
None

In [31]:
print("\nContoh data:")
print(datafilm.head())

Contoh data:
                       judul  \
0                   Superman
1              A Gilded Game
2              Night Carnage
3  Blood Brothers: Bara Naga
4      High Five aka Hi Five

                                                tags  \
0  Canada, Australia, United States, New Zealand,...
1                                      China, Action
2             United States, Action, Romance, Horror
3                     Malaysia, Drama, Action, Crime
4             South Korea, Comedy, Action, Adventure

                                           deskripsi       sutradara  \
0  Dalam versi reimajinasi yang epik dari Superma...      James Gunn
1  Seorang mahasiswa keuangan berbakat mendapatka...      Herman Yau
2  Seorang blogger manusia serigala bertemu denga...      Sadie Katz
3  Sekelompok pria yang bekerja di sebuah organis...  Sharnaaz Ahmad
4  Lima orang biasa, yang mengembangkan kekuatan ...       Yoo Ah-In

                                             bintang  \
0  Nicholas Hoult, Alan Tudyk, Rachel Brosnahan, ...
1                    Andy Lau, Hao Ou, James Filbird
2                                      United States
3                                           Malaysia
4                                        South Korea

                                          negara durasi  rating  rilis_date
0  Canada, Australia, United States, New Zealand  00:30     2.3  2006-02-26
1                                          China  00:37     1.7  2002-03-02
2                                           None  01:03     9.5  2009-11-12
3                                           None  00:54     9.6  2021-01-30
4                                           None  02:09     0.7  2011-04-04

In [32]:
print("\nCek missing values:")
print(datafilm.isnull().sum())

Cek missing values:
judul             0
tags           4818
deskripsi      6918
sutradara      4936
bintang        4999
negara        28074
durasi            0
rating            0
rilis_date        0
dtype: int64

In [33]:
cols_text = ["tags", "deskripsi", "sutradara", "bintang", "negara"]
for col in cols_text:
    datafilm[col] = datafilm[col].fillna("Unknown")

In [34]:
# ubah kolom rilis_date jadi datetime
datafilm["rilis_date"] = pd.to_datetime(datafilm["rilis_date"], errors="coerce")

In [35]:
# pastikan rating numeric
datafilm["rating"] = pd.to_numeric(datafilm["rating"], errors="coerce")

In [36]:
datafilm = datafilm.drop_duplicates()

In [37]:
print("\nSetelah cleaning:")
print(datafilm.isnull().sum())

Setelah cleaning:
judul         0
tags          0
deskripsi     0
sutradara     0
bintang       0
negara        0
durasi        0
rating        0
rilis_date    0
dtype: int64

In [38]:
datafilm.to_csv("datafilm_clean.csv", index=False)